:root {
  --font-family-inter: 'Inter', sans-serif;
  --text-white: rgba(255, 255, 255, 1);
  --text-black: rgba(0, 0, 0, 1);
  --text-gray: rgba(151, 151, 151, 1);
  --text-orange: rgba(214, 115, 44, 1);
  --text-light-gray: rgba(185, 185, 185, 1);
}

.text-white {
  color: var(--text-white);
}

.text-black {
  color: var(--text-black);
}

.text-gray {
  color: var(--text-gray);
}

.text-orange {
  color: var(--text-orange);
}

.text-light-gray {
  color: var(--text-light-gray);
}


/* CSS Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  min-height: 100vh;
  overflow-x: hidden;
}

img {
  max-width: 100%;
  height: auto;
}

.logo-6 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  border: none;
  outline: none;
}

.left-5 {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
  padding: 0px;
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
}

.text-9 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  font-family: var(--font-family-inter);
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  text-decoration: none;
  text-transform: none;
  color: var(--text-white);
}

.button-8 {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
  padding: 12px 24px 12px 24px;
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  background-color: rgba(119, 28, 235, 1);
  border: 1px solid rgba(162, 89, 255, 1);
  border-radius: 8px;
}

.right-7 {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 16px;
  padding: 0px;
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
}

.menu-4 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 32px;
  padding: 0px;
  flex-grow: 0;
  flex-shrink: 1;
  width: 100%;
}

.text-13 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  font-family: var(--font-family-inter);
  font-weight: 300;
  font-size: 64px;
  text-decoration: none;
  text-transform: none;
  color: var(--text-white);
  font-family: var(--font-family-inter);
  font-weight: 700;
  font-size: 64px;
  text-decoration: none;
  text-transform: none;
  color: var(--text-white);
}

.headline-12 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 8px;
  padding: 0px;
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
}

.text-16 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  font-family: var(--font-family-inter);
  font-weight: 700;
  font-size: 16px;
  text-decoration: none;
  text-transform: none;
  color: var(--text-black);
}

.chip-15 {
@media (max-width: 1440px) {
  .chip-15 {
    width: 47%;
    min-width: 280px;
  }
}

@media (max-width: 768px) {
  .chip-15 {
    width: 100%;
    max-width: 100%;
    min-width: 100%;
  }
}
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 12px 12px 12px 12px;
  border-radius: 8px;
  background-color: rgba(255, 255, 255, 1);
  border: 2px solid rgba(255, 255, 255, 0.15);
  margin-right: 16px;
  margin-bottom: 16px;
}

.text-18 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  font-family: var(--font-family-inter);
  font-weight: 700;
  font-size: 16px;
  text-decoration: none;
  text-transform: none;
  color: var(--text-white);
}

.chip-17 {
@media (max-width: 1440px) {
  .chip-17 {
    width: 47%;
    min-width: 280px;
  }
}

@media (max-width: 768px) {
  .chip-17 {
    width: 100%;
    max-width: 100%;
    min-width: 100%;
  }
}
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 12px 12px 12px 12px;
  border-radius: 8px;
  border: 2px solid rgba(255, 255, 255, 0.1);
  margin-right: 16px;
  margin-bottom: 16px;
}

.text-20 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  font-family: var(--font-family-inter);
  font-weight: 700;
  font-size: 16px;
  text-decoration: none;
  text-transform: none;
  color: var(--text-white);
}

.chip-19 {
@media (max-width: 1440px) {
  .chip-19 {
    width: 47%;
    min-width: 280px;
  }
}

@media (max-width: 768px) {
  .chip-19 {
    width: 100%;
    max-width: 100%;
    min-width: 100%;
  }
}
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 12px 12px 12px 12px;
  border-radius: 8px;
  border: 2px solid rgba(255, 255, 255, 0.1);
  margin-right: 16px;
  margin-bottom: 16px;
}

.text-22 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  font-family: var(--font-family-inter);
  font-weight: 700;
  font-size: 16px;
  text-decoration: none;
  text-transform: none;
  color: var(--text-white);
}

.chip-21 {
@media (max-width: 1440px) {
  .chip-21 {
    width: 47%;
    min-width: 280px;
  }
}

@media (max-width: 768px) {
  .chip-21 {
    width: 100%;
    max-width: 100%;
    min-width: 100%;
  }
}
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 12px 12px 12px 12px;
  border-radius: 8px;
  border: 2px solid rgba(255, 255, 255, 0.1);
  margin-right: 16px;
  margin-bottom: 16px;
}

.chips-14 {
@media (max-width: 1440px) {
  .chips-14 {
    gap: 24px;
  }
}

@media (max-width: 768px) {
  .chips-14 {
    gap: 16px;
  }
}
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 0px 0px 0px 0px;
  margin-right: 24px;
  margin-bottom: 24px;
}

.copy-11 {
@media (max-width: 1440px) {
  .copy-11 {
    width: 47%;
    min-width: 280px;
  }
}

@media (max-width: 768px) {
  .copy-11 {
    width: 100%;
    max-width: 100%;
    min-width: 100%;
  }
}
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 24px;
  padding: 0px;
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: auto;
  width: 30%;
  min-width: 280px;
  min-width: 320px;
}

.images-24 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  border-radius: 15px;
  width: 100%;
  height: auto;
}

.visual-23 {
@media (max-width: 1440px) {
  .visual-23 {
    width: 47%;
    min-width: 280px;
  }
}

@media (max-width: 768px) {
  .visual-23 {
    width: 100%;
    max-width: 100%;
    min-width: 100%;
  }
}
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 10px;
  padding: 0px 48px 0px 48px;
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: auto;
  width: 30%;
  min-width: 280px;
  min-width: 320px;
}

.header-10 {
@media (max-width: 1440px) {
  .header-10 {
    gap: 32px;
  }
}

@media (max-width: 768px) {
  .header-10 {
    gap: 32px;
  }
}
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
  gap: 32px;
  padding: 32px 0px 0px 0px;
  flex-grow: 0;
  flex-shrink: 1;
  width: 93.33333333333333%;
}

.headline-2 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  font-family: var(--font-family-inter);
  font-weight: normal;
  font-size: 32px;
  line-height: 48px;
  text-decoration: none;
  text-transform: none;
  color: var(--text-white);
}

.body {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  min-width: 320px;
  max-width: 800px;
  font-family: var(--font-family-inter);
  font-weight: 500;
  font-size: 20px;
  line-height: 32px;
  text-decoration: none;
  text-transform: none;
  color: var(--text-gray);
  font-family: var(--font-family-inter);
  font-weight: 500;
  font-size: 20px;
  line-height: 32px;
  text-decoration: none;
  text-transform: none;
  color: var(--text-white);
  font-family: var(--font-family-inter);
  font-weight: 500;
  font-size: 20px;
  line-height: 32px;
  text-decoration: none;
  text-transform: none;
  color: var(--text-gray);
}

.description-26 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 24px;
  padding: 0px;
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
}

.text-30 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  font-family: var(--font-family-inter);
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  text-decoration: none;
  text-transform: none;
  color: var(--text-orange);
}

.text-31 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  max-width: 800px;
  font-family: var(--font-family-inter);
  font-weight: 500;
  font-size: 14px;
  line-height: 24px;
  text-decoration: none;
  text-transform: none;
  color: var(--text-orange);
}

.warrning-29 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 8px;
  padding: 24px;
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  max-width: 800px;
  background-color: rgba(255, 122, 0, 0.05);
  border: 1px solid rgba(255, 122, 0, 0.2);
  border-radius: 16px;
}

.about-me-25 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 64px;
  padding: 32px 0px 32px 0px;
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  max-width: 800px;
}

.headline-2 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  font-family: var(--font-family-inter);
  font-weight: normal;
  font-size: 32px;
  line-height: 48px;
  text-decoration: none;
  text-transform: none;
  color: var(--text-white);
}

.vector-38 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  border: 2px solid rgba(255, 255, 255, 1);
  border: none;
  outline: none;
}

.layers-37 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
}

.frame-66-36 {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  padding: 12px;
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  background-color: rgba(255, 255, 255, 0.05);
  border-radius: 8px;
}

.headline-4 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  font-family: var(--font-family-inter);
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  text-decoration: none;
  text-transform: none;
  color: var(--text-white);
}

.text-40 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  font-family: var(--font-family-inter);
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  text-decoration: none;
  text-transform: none;
  color: var(--text-light-gray);
}

.box-35 {
@media (max-width: 1440px) {
  .box-35 {
    width: 47%;
    min-width: 280px;
  }
}

@media (max-width: 768px) {
  .box-35 {
    width: 100%;
    max-width: 100%;
    min-width: 100%;
  }
}
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 16px;
  padding: 24px;
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: auto;
  width: 30%;
  min-width: 280px;
  min-width: 320px;
  background-color: rgba(255, 255, 255, 0.05);
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 16px;
}

.vector-44 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  border: 2px solid rgba(255, 255, 255, 1);
  border: none;
  outline: none;
}

.vector-45 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  border: 2px solid rgba(255, 255, 255, 1);
  border: none;
  outline: none;
}

.edit-3-43 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
}

.frame-66-42 {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  padding: 12px;
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  background-color: rgba(255, 255, 255, 0.05);
  border-radius: 8px;
}

.headline-4 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  font-family: var(--font-family-inter);
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  text-decoration: none;
  text-transform: none;
  color: var(--text-white);
}

.text-47 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  font-family: var(--font-family-inter);
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  text-decoration: none;
  text-transform: none;
  color: var(--text-light-gray);
}

.box-41 {
@media (max-width: 1440px) {
  .box-41 {
    width: 47%;
    min-width: 280px;
  }
}

@media (max-width: 768px) {
  .box-41 {
    width: 100%;
    max-width: 100%;
    min-width: 100%;
  }
}
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 16px;
  padding: 24px;
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: auto;
  width: 30%;
  min-width: 280px;
  min-width: 320px;
  background-color: rgba(255, 255, 255, 0.05);
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 16px;
}

.vector-51 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  border: 2px solid rgba(255, 255, 255, 1);
  border: none;
  outline: none;
}

.image-50 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
}

.frame-66-49 {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  padding: 12px;
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  background-color: rgba(255, 255, 255, 0.05);
  border-radius: 8px;
}

.headline-4 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  font-family: var(--font-family-inter);
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  text-decoration: none;
  text-transform: none;
  color: var(--text-white);
}

.text-53 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  font-family: var(--font-family-inter);
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  text-decoration: none;
  text-transform: none;
  color: var(--text-light-gray);
}

.box-48 {
@media (max-width: 1440px) {
  .box-48 {
    width: 47%;
    min-width: 280px;
  }
}

@media (max-width: 768px) {
  .box-48 {
    width: 100%;
    max-width: 100%;
    min-width: 100%;
  }
}
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 16px;
  padding: 24px;
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: auto;
  width: 30%;
  min-width: 280px;
  min-width: 320px;
  background-color: rgba(255, 255, 255, 0.05);
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 16px;
}

.vector-57 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  border: 2px solid rgba(255, 255, 255, 1);
  border: none;
  outline: none;
}

.type-56 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
}

.frame-66-55 {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  padding: 12px;
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  background-color: rgba(255, 255, 255, 0.05);
  border-radius: 8px;
}

.headline-4 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  font-family: var(--font-family-inter);
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  text-decoration: none;
  text-transform: none;
  color: var(--text-white);
}

.text-59 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  font-family: var(--font-family-inter);
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  text-decoration: none;
  text-transform: none;
  color: var(--text-light-gray);
}

.box-54 {
@media (max-width: 1440px) {
  .box-54 {
    width: 47%;
    min-width: 280px;
  }
}

@media (max-width: 768px) {
  .box-54 {
    width: 100%;
    max-width: 100%;
    min-width: 100%;
  }
}
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 16px;
  padding: 24px;
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: auto;
  width: 30%;
  min-width: 280px;
  min-width: 320px;
  background-color: rgba(255, 255, 255, 0.05);
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 16px;
}

.vector-63 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  border: 2px solid rgba(255, 255, 255, 1);
  border: none;
  outline: none;
}

.eye-62 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
}

.frame-66-61 {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  padding: 12px;
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  background-color: rgba(255, 255, 255, 0.05);
  border-radius: 8px;
}

.headline-4 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  font-family: var(--font-family-inter);
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  text-decoration: none;
  text-transform: none;
  color: var(--text-white);
}

.text-65 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  font-family: var(--font-family-inter);
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  text-decoration: none;
  text-transform: none;
  color: var(--text-light-gray);
}

.box-60 {
@media (max-width: 1440px) {
  .box-60 {
    width: 47%;
    min-width: 280px;
  }
}

@media (max-width: 768px) {
  .box-60 {
    width: 100%;
    max-width: 100%;
    min-width: 100%;
  }
}
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 16px;
  padding: 24px;
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: auto;
  width: 30%;
  min-width: 280px;
  min-width: 320px;
  background-color: rgba(255, 255, 255, 0.05);
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 16px;
}

.vector-69 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  border: 2px solid rgba(255, 255, 255, 1);
  border: none;
  outline: none;
}

.vector-70 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  border: 2px solid rgba(255, 255, 255, 1);
  border: none;
  outline: none;
}

.vector-71 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  border: 2px solid rgba(255, 255, 255, 1);
  border: none;
  outline: none;
}

.vector-72 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  border: 2px solid rgba(255, 255, 255, 1);
  border: none;
  outline: none;
}

.vector-73 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  border: 2px solid rgba(255, 255, 255, 1);
  border: none;
  outline: none;
}

.figma-68 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
}

.frame-66-67 {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  padding: 12px;
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  background-color: rgba(255, 255, 255, 0.05);
  border-radius: 8px;
}

.headline-4 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  font-family: var(--font-family-inter);
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  text-decoration: none;
  text-transform: none;
  color: var(--text-white);
}

.text-75 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  font-family: var(--font-family-inter);
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  text-decoration: none;
  text-transform: none;
  color: var(--text-light-gray);
}

.box-66 {
@media (max-width: 1440px) {
  .box-66 {
    width: 47%;
    min-width: 280px;
  }
}

@media (max-width: 768px) {
  .box-66 {
    width: 100%;
    max-width: 100%;
    min-width: 100%;
  }
}
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 16px;
  padding: 24px;
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: auto;
  width: 30%;
  min-width: 280px;
  min-width: 320px;
  background-color: rgba(255, 255, 255, 0.05);
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 16px;
}

.elements-34 {
@media (max-width: 1440px) {
  .elements-34 {
    gap: 24px;
  }
}

@media (max-width: 768px) {
  .elements-34 {
    gap: 24px;
  }
}
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  flex-wrap: wrap;
  gap: 24px;
  padding: 0px;
  flex-grow: 0;
  flex-shrink: 1;
  width: 100%;
}

.main-features-32 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 32px;
  padding: 32px 0px 32px 0px;
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
}

.wrapper-3 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 32px;
  padding: 48px;
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: auto;
  min-width: 320px;
  max-width: 1440px;
  background-color: rgba(22, 22, 22, 1);
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 32px;
}

.examples-page-2 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  padding: 24px;
  flex-grow: 0;
  flex-shrink: 1;
  width: 100%;
  background-color: rgba(19, 19, 19, 1);
}

.frame-67-1 {
@media (max-width: 1440px) {
  .frame-67-1 {
    padding-left: 24px;
    padding-right: 24px;
  }
}

@media (max-width: 768px) {
  .frame-67-1 {
    padding-left: 16px;
    padding-right: 16px;
  }
}
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
}
